.link {
    color: #00acc1;
}

.link:hover {
    text-decoration: none;
}

.copyright {
    color: #fff;
}

.weblime, .weblime__link {
    color: #fff;
}

.weblime__link:hover {
    text-decoration: none;
}
